:root {
  --cor-primaria:#4942E4;
  --cor-secundaria: #068FFF;
  --cor-terciaria: #191D88;
  --cor-quaternaria: #FFBFBF;
  --cor-fundo: #CEE6F3;
  

}

html {
    scroll-behavior: smooth; 
}

body {
  
  margin: 20px 50px;
  text-align: justify;
  background-color: var(--cor-fundo);
  font-family: Arial, Helvetica, sans-serif;

}

.titulo-de-pagina {
    
color:#181823;
line-height:2;
font-weight:bold;
font-size:22px;
font-family: Arial, Helvetica, sans-serif;

}

.titulo-de-artigo {

  color: var(--cor-primaria);
  line-height: 2;
  font-weight: bold;
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-secao {
  color: var(--cor-secundaria);
  line-height: 1.8;
  font-size: 18pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-artigo {
  color: var(--cor-secundaria);
  line-height: 1,5;
  font-weight: bold;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

p {
  color: var(--cor-terciaria);
  line-height: 1.2;

}

.paragrafo-de-artigo{
  background-color: var(--cor-quaternaria);
  padding:20px

}


p + .paragrafo-de-artigo {
  padding: 0;
}

.paragrafo-de-artigo:first-of-type {
  border-radius: 20px 0 0 0;
  

}


.paragrafo-de-artigo:only-of-type {
  border-radius:  0 0 20px 0;
}

.paragrafo-de-artigo:only-of-type {
  border-radius: 20px 0 20px 0;
}



article {
  border: 4px dotted var(--cor-quaternaria);
  padding: 30px;
  margin: 30px 0;
}

.menu-principal ul {
  background-color: var(--cor-primaria);
  
}

.menu-principal li {
  color: var(--cor-quaternaria);
}

.menu-principal a {
  color: var(--cor-quaternaria);

}

