/* CSS externo (arquivo)*/

html {
    scroll-behavior: smooth; 
}

body {
  
  margin: 20px 50px;
  text-align: justify;
  background-color: #AED2FF;
  font-family: Arial, Helvetica, sans-serif;

}

.titulo-de-pagina {
    
color:#181823;
line-height:2;
font-weight:bold;
font-size:22px;
font-family: Arial, Helvetica, sans-serif;

}

.titulo-de-artigo {

  color: blue;
  line-height: 2;
  font-weight: bold;
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-secao {
  color: blue;
  line-height: 1.8;
  font-size: 18pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-artigo {
  color: blue;
  line-height: 1,5;
  font-weight: bold;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;

}

p {
  color: brown;
  line-height: 1.2;
  
}

.paragrafo-de-artigo {
  background-color: #D2D0FE;
  padding: 20px;
}

article {
  border: 4px double #181823;
  padding: 30px;
  margin: 30px 0;
  border-radius: 20px 0 20px 0;
}
