html{
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}

body {
    color:white;
    background-color: black;
    margin: 0;
}

  a {
    color: white;
    font-size: 20px;
    justify-content: space-evenly;

  }
   

a:hover {
    color: black;  
    }

    .divAncoras {
        display: flex;
        justify-content: space-around;
        width: 600px;
    }
   